/* =======================
   BOTÕES (REUTILIZÁVEL)
======================= */
.btn {
    padding: 6px 10px;
    background: var(--dourado-fraco);
    color: var(--preto-acinzentado);
    border-radius: 12px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background: var(--verde-musgo-medio);
    color: var(--branco);
}

.box-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.box-btn-servico {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

/* =======================
   CARD AVISOS
======================= */
.card-avisos {
    width: 330px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 10px;
    background: var(--dourado-palido);
}

.card-avisos .titulo-avisos {
    display: flex;
    gap: 8px;
}

.card-avisos img {
    width: 50px;
    border-radius: 50%;
}

.card-avisos h2 {
    font-size: 0.9rem;
    color: var(--verde-musgo);
}

.card-avisos p {
    color: var(--verde-musgo);
}

.card-avisos>p {
    height: 100px;
    overflow-y: auto;
    padding: 5px;
    text-align: justify;
}

/* =======================
   CARD PUBLICIDADE
======================= */
.card-publicidade {
    width: 240px;
    height: 280px;
    display: flex;
    flex-direction: column;
    background: var(--branco);
    border-radius: 20px;
    border: 1px solid rgba(var(--dourado-rgba), 0.2);
    box-shadow: 0 8px 15px rgba(var(--preto-rgba), 0.15);
    transition: 0.3s;
}

.card-publicidade:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 25px rgba(var(--preto-rgba), 0.25);
    border-color: var(--dourado);
}

.card-publicidade img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-bottom: 3px solid var(--dourado);
}

.card-publicidade>div {
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-publicidade h3 {
    font-size: 1.3rem;
    color: var(--preto-acinzentado);
}

.card-publicidade p {
    font-size: 0.95rem;
    color: var(--preto-acinzentado);
    font-style: italic;
}

/* =======================
   SCROLL HORIZONTAL
======================= */
.parceiros-principal {
    display: flex;
    overflow-x: auto;
    padding: 20px;
}

.parceiros-principal::-webkit-scrollbar {
    height: 6px;
}

.parceiros-principal::-webkit-scrollbar-thumb {
    background: var(--dourado);
    border-radius: 10px;
}