/* =======================
   BOTÕES (REUTILIZÁVEL)
======================= */
.btn {
    padding: 6px 10px;
    background: var(--dourado-fraco);
    color: var(--preto-acinzentado);
    border-radius: 12px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background: var(--verde-musgo-medio);
    color: var(--branco);
}

.box-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.box-btn-servico {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

/* =======================
   SCROLL HORIZONTAL
======================= */
.parceiros-principal {
    display: flex;
    overflow-x: auto;
    padding: 20px;
}

.parceiros-principal::-webkit-scrollbar {
    height: 6px;
}

.parceiros-principal::-webkit-scrollbar-thumb {
    background: var(--dourado);
    border-radius: 10px;
}