.main-historico {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(270px, 380px), 1fr));
    padding: 5px;
    gap: 10px;
    align-items: start;
}

.historico-box {
    height: clamp(200px, 75vh, 80vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--dourado);
    padding: 5px 5px;
    gap: 10px;
    border-radius: 20px;
}

.historico-box>h1 {
    white-space: nowrap;
    font-size: calc(1.3rem + 1.5vw);
}

.historico-box>div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    overflow: auto;
}

@media (max-width: 1052px) {
    .historico-box {
        width: 100%;
        height: 100vh;
    }
}