.login {
    display: flex;
    width: 100vw;
    height: 100vh;

    &>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 50%;
        padding: 25px;
    }

    &>img {
        width: 50%;
    }
}

.form {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 30px;
    padding: 20px 15px;
    border-radius: 20px;
    background-color: var(--dourado-palido);
    border: 2px solid var(--dourado);

    h1 {
        text-align: center;
        color: var(--verde-musgo);
    }

    .box-login {
        display: flex;
        flex-direction: column;
        padding: 10px 20px;

        label {
            font-size: 1.4rem;
            padding: 0px 5px;
        }

        input {
            width: 100%;
            font-size: 1rem;
            padding: 5px 8px;
            border-radius: 10px;
            background-color: var(--dourado-fraco);
            border: 2px solid var(--dourado);
            color: var(--verde-musgo-medio);
        }
    }
}

.btn-login {
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
}

@media (max-width: 900px) {
    .login {
        flex-direction: column;

        &>div {
            width: 100%;
            order: 2;

            & .form {
                width: 100%;
            }
        }

        &>img {
            width: 100%;
            order: 1;
        }
    }
}

@media (max-width: 400px) {
    .box-btn {
        flex-direction: column;
    }
}