/* PRINCIPAL */
.principal {
    width: 100vw;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.principal>h1 {
    text-align: left;
}

/* Avisos e postagens */
.principal>div {
    display: flex;
    gap: 15px;
    padding: 15px;
    align-items: center;
    justify-content: center;
}

.quadro-aviso {
    height: 80vh;
    aspect-ratio: 2/1;
    border-radius: 10px;
    background-color: rgba(var(--preto-rgba), 0.2);
}

/* POSTAGENS */
.postagens {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: rgba(var(--dourado-palido-rgba), 0.3);
    box-shadow: 0px 10px 20px rgba(var(--preto-rgba), 0.2);
}

.postagens>div {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 20px;
    margin: 15px;
}

/* Estilo dos cards de notícias */
.card-noticias {
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    aspect-ratio: 2/2;
    border: 2px solid var(--verde-musgo-medio);
    background-color: var(--verde-musgo);
    gap: 10px;
    padding: 15px 10px;
    border-radius: 20px;
}

.card-noticias>figcaption {
    overflow-wrap: break-word;
}

.card-noticias>img {
    width: 200px;
    border-radius: 20px;
}

.sessao-servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(var(--dourado-palido-rgba), 0.3);
    box-shadow: 0px 10px 20px rgba(var(--preto-rgba), 0.2);
    gap: 10px;
}

.sessao-servicos>h2 {
    text-align: left;
}

.sessao-servicos>div {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px 15px;
    width: 100%;
    max-height: 700px;
    justify-content: center;
    overflow-y: scroll;
}

@media (max-width: 700px) {
    .principal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}