/* =======================
   PRINCIPAL
======================= */
.principal {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 5px 150x;
    gap: 10px;
}

/* =======================
   AVISOS E EVENTOS
======================= */
.avisos-eventos {
    display: flex;
    width: 100%;
    height: 40vh;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;

    & .quadro {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        border-radius: 10px;

        & h1 {
            text-align: center;
            font-size: 2.5rem;
            color: var(--dourado);
        }

        & .aviso-vazio {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--dourado-palido);
        }
    }

    & .reservados {
        width: 100%;
        height: 100%;
        background-color: var(--dourado-palido);

        & .box {
            width: 100%;
            height: 100%;
            display: flex;
            overflow: auto;
            flex-wrap: wrap;
            align-items: start;
            justify-content: space-evenly;

            & h2 {
                font-size: 2.5rem;
            }
        }
    }

    & .avisos-condominio {
        flex: 1;
        height: 100%;
        background-color: var(--dourado-fraco);

        & .box {
            overflow-y: auto;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    }
}

.box {
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 15px;
}

/* =======================
   RESPONSIVO
======================= */
@media (max-width: 1000px) {
    .avisos-eventos {
        height: 122dvh;
        flex-direction: column;

        & .quadro {
            width: 100%;
            height: 50%;
        }
    }

    .avisos {
        &>div {
            justify-content: center;
            align-items: center;

            & .card-avisos {
                width: 300px;
            }
        }
    }
}

/* =======================
   SERVIÇOS
======================= */
.servicos-publicados {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 10px;

    & .sessao-servicos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        min-height: 50vh;
        gap: 15px;
        padding: 15px 20px;
        background-color: var(--dourado-palido);
        border-radius: 10px;
    }
}