@import "./topo.css";
@import "./inicial.css";
@import "./servicos.css";
@import "./card.css";
@import "./auth.css";
@import "./topo.css";

/* ===========================
   RESET GLOBAL
=========================== */
* {
  border: 0;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "RobotoMedio";
  scrollbar-width: none;
  outline: none;
  color: var(--dourado);
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--dourado-fraco);
}

input[type="text"] {
  color: var(--preto-acinzentado);
}

main {
  flex: 1;
}

/* ===========================
   FONTES
=========================== */
@font-face {
  font-family: "RobotoMedio";
  src: url("../font/Roboto/static/Roboto-SemiCondensed-Medium.ttf");
}

@font-face {
  font-family: "FonteBotao";
  src: url("../font/Roboto/static/Roboto-Condensed-ExtraBold.ttf");
  font-weight: 900;
}

/* ===========================
   PALETA DE CORES (UNIFICADA)
=========================== */
:root {
  --preto-acinzentado: #1f1f1f;
  --verde-musgo: #0c3a3f;
  --verde-musgo-medio: #2d6057;
  --verde-musgo-palido: #96a37f;
  --branco: #ffffff;
  --dourado: #b0822b;
  --dourado-palido: #d8b469;
  --dourado-fraco: #ffe6a7;

  /* RGB */
  --preto-rgba: 31, 31, 31;
  --verde-musgo-rgba: 12, 58, 63;
  --verde-musgo-medio-rgba: 45, 96, 87;
  --verde-musgo-palido-rgba: 150, 163, 127;
  --branco-rgba: 255, 255, 255;
  --dourado-rgba: 176, 130, 43;
  --dourado-palido-rgba: 216, 180, 105;
  --dourado-fraco-rgba: 255, 230, 167;
}

/* ===========================
   ELEMENTOS PADRÃO
=========================== */
#sessao-servicos,
.card-servicos,
#post-img {
  border-radius: 20px;
}

/* ===========================
   Cabeçalho
=========================== */
.topo-cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  min-height: 70px;
  padding: 10px 15px;
  background-color: var(--verde-musgo-medio);
  flex-wrap: wrap;
  gap: 15px;

  & .img-logo>img {
    width: 50px;
    display: block;
    border-radius: 10px;
  }

  & .navegacao {
    display: flex;

    & ul {
      display: flex;
      padding: 5px 10px;
      gap: 20px;
      font-size: 1.2rem;
    }

    & .links-sociais {
      & img {
        width: 25px;
      }
    }
  }
}

.menu {
  display: none;
}

.pesquisa {
  width: clamp(200px, 50%, 250px);
  padding: 5px 10px;
  border-radius: 20px;
  background-color: var(--branco);
  border: solid 2px var(--dourado);
  color: var(--preto-acinzentado);
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  & img {
    display: block;
    width: 30px;
  }
}


#burguer {
  display: flex;
  flex-direction: column;
  padding: 2px;
  gap: 3px;
  cursor: pointer;

  &>div {
    background-color: var(--dourado);
    height: 5px;
    width: 32px;
    border-radius: 20px;
  }

  &:hover div {
    background-color: var(--dourado-palido);
  }
}

@media (max-width: 513px) {
  .user {
    order: 2;
  }

  .pesquisa {
    order: 3;
  }

  #burguer {
    order: 4;
  }
}

/* ===========================
   RODAPÉ
=========================== */
.rodape {
  width: 100%;
  background-color: var(--verde-musgo);
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  bottom: 0;
}

.rodape h3 {
  color: var(--dourado-palido);
}

.rodape ul {
  list-style: none;
  padding: 10px;
  display: flex;
  gap: 50px;
  color: var(--dourado-fraco);
}

.rodape ul li {
  margin: 5px;
  color: var(--dourado-fraco);
}

.rodape ul li p {
  font-weight: bold;
}

.redes-socias {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
}

.redes-socias img {
  width: 50px;
  padding: 10px;
  background-color: var(--verde-musgo-medio);
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s;
}

.redes-socias img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 700px) {
  .rodape>ul {
    display: flex;
    flex-direction: column;
  }
}

/* ===========================
   RESPONSIVIDADE
=========================== */
@media (max-width: 850px) {
  .img-quem-somos h1 {
    font-size: 2em;
  }

  .quem-somos {
    justify-content: center;
  }

  .info-nos {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .info-modelo {
    flex-direction: column;
    align-items: center;
  }

  .img-servico {
    width: 80%;
  }
}

#aviso {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.4rem;
  color: var(--dourado);
}