/* ===========================
   Cabeçalho e Navegação
=========================== */
.topo-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    min-height: 70px;
    padding: 10px 15px;
    background-color: var(--verde-musgo-medio);
    flex-wrap: wrap;
    gap: 15px;
}

.img-logo {
    width: 50px;

    & img {
        width: 50px;
        display: block;
        border-radius: 10px;
    }
}

.navegacao {
    display: flex;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    justify-content: flex-end;
    width: 100vw;
    height: 100vh;
    background-color: rgba(var(--preto-rgba), 0.5);
    z-index: 1;
    transition: all 0.5s ease;

    &.ativo {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;

        &>div {
            animation: abrir 1s;
        }
    }

    &.desativado {
        visibility: visible;
        transition: opacity 1s ease, visibility 1s step-end;

        &>div {
            animation: fechar 1s forwards;
        }
    }

    & div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: var(--verde-musgo-medio);
        padding: 10px 5px;

        & img {
            width: 50px;
        }

        & ul {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 5px 10px;
            text-align: center;
            gap: 20px;
            font-size: 1.2rem;
            list-style: none;
        }
    }
}

@keyframes abrir {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes fechar {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}

/* Elementos de Interface */
.pesquisa {
    width: clamp(200px, 50%, 250px);
    padding: 5px 10px;
    border-radius: 20px;
    background-color: var(--branco);
    border: solid 2px var(--dourado);
    color: var(--preto-acinzentado);
    outline: none;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    & img {
        display: block;
        width: 30px;
    }

    & .user-icon {
        position: absolute;
        width: 65px;
        left: 0;
        margin-left: 30px;
    }
}

#burguer {
    display: flex;
    flex-direction: column;
    padding: 2px;
    gap: 3px;
    cursor: pointer;

    & div {
        background-color: var(--dourado);
        height: 5px;
        width: 32px;
        border-radius: 20px;
        transition: 1s ease;
    }

    &:hover div {
        background-color: var(--dourado-palido);
    }
}

#burguer.abrir {
    z-index: 2;
    position: fixed;
    top: 25px;
    right: 30px;

    & div:first-child {
        transform: translateY(11px) rotate(405deg);
    }

    & div:nth-child(2) {
        opacity: 0;
    }

    & div:nth-child(3) {
        transform: translateY(-5px) rotate(-405deg);
    }
}

/* Utilitários */
.sair-logout {
    order: 5;
}

/* Responsividade */
@media (max-width: 513px) {
    .user {
        order: 2;
    }

    .pesquisa {
        order: 3;
    }

    #burguer {
        order: 4;
    }
}