


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;




ALTER SCHEMA "public" OWNER TO "postgres";


CREATE EXTENSION IF NOT EXISTS "pg_graphql" WITH SCHEMA "graphql";






CREATE EXTENSION IF NOT EXISTS "supabase_vault" WITH SCHEMA "vault";






CREATE TYPE "public"."hierarquia" AS ENUM (
    'morador',
    'sindico'
);


ALTER TYPE "public"."hierarquia" OWNER TO "postgres";


CREATE TYPE "public"."tipo_categorias" AS ENUM (
    'Dom├®sticos',
    'Cuidados',
    'Educa├º├úo',
    'Manuten├º├úo'
);


ALTER TYPE "public"."tipo_categorias" OWNER TO "postgres";


CREATE TYPE "public"."tipo_cobrado" AS ENUM (
    'sess├úo',
    'hora',
    'projeto',
    'visita',
    'di├íria'
);


ALTER TYPE "public"."tipo_cobrado" OWNER TO "postgres";


CREATE TYPE "public"."tipo_pagamento" AS ENUM (
    'pix',
    'cr├®dito',
    'd├®bito',
    'dinheiro'
);


ALTER TYPE "public"."tipo_pagamento" OWNER TO "postgres";


CREATE TYPE "public"."tipo_status" AS ENUM (
    'pendente',
    'confirmado',
    'concluido',
    'cancelado'
);


ALTER TYPE "public"."tipo_status" OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."avaliacoes" (
    "id" integer NOT NULL,
    "nota" smallint DEFAULT 1,
    "comentario" "text" DEFAULT 'Nenhum coment├írio'::"text",
    "id_servico" integer,
    "id_cliente" integer,
    "id_contrato" integer,
    "nome_servico" "text",
    "nome_prestador" "text",
    "nome_cliente" "text",
    "horario" time without time zone,
    "data" "date",
    "editado_em" timestamp with time zone DEFAULT ("now"() AT TIME ZONE 'utc'::"text"),
    CONSTRAINT "check_nota" CHECK ((("nota" >= 1) AND ("nota" <= 5)))
);


ALTER TABLE "public"."avaliacoes" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."avaliacoes_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."avaliacoes_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."avaliacoes_id_seq" OWNED BY "public"."avaliacoes"."id";



CREATE TABLE IF NOT EXISTS "public"."avisos" (
    "id" integer NOT NULL,
    "titulo" "text" NOT NULL,
    "mensagem" "text" NOT NULL,
    "data_evento" "date",
    "criado_em" timestamp with time zone DEFAULT ("now"() AT TIME ZONE 'utc'::"text"),
    "id_usuario" integer,
    "codigo" integer,
    "autor" "text"
);


ALTER TABLE "public"."avisos" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."avisos_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."avisos_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."avisos_id_seq" OWNED BY "public"."avisos"."id";



CREATE TABLE IF NOT EXISTS "public"."bloqueios" (
    "id" bigint NOT NULL,
    "id_bloqueador" bigint,
    "id_bloqueado" bigint,
    "data" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."bloqueios" OWNER TO "postgres";


ALTER TABLE "public"."bloqueios" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."bloqueios_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."categorias" (
    "id" integer NOT NULL,
    "nome" "public"."tipo_categorias" NOT NULL
);


ALTER TABLE "public"."categorias" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."categorias_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."categorias_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."categorias_id_seq" OWNED BY "public"."categorias"."id";



CREATE TABLE IF NOT EXISTS "public"."condominios" (
    "id" integer NOT NULL,
    "nome" "text" NOT NULL,
    "codigo" integer NOT NULL,
    "cnpj_condominio" "text",
    "bairro" "text",
    "municipio" "text",
    "cep" "text",
    "endereco" "text",
    "uf" "text",
    "criado_em" timestamp with time zone DEFAULT ("now"() AT TIME ZONE 'utc'::"text")
);


ALTER TABLE "public"."condominios" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."condominios_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."condominios_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."condominios_id_seq" OWNED BY "public"."condominios"."id";



CREATE TABLE IF NOT EXISTS "public"."contratados" (
    "id" integer NOT NULL,
    "hora" time without time zone NOT NULL,
    "dia" "date" NOT NULL,
    "id_servico" integer,
    "id_prestador" integer,
    "id_cliente" integer,
    "confirmado" "public"."tipo_status" DEFAULT 'pendente'::"public"."tipo_status",
    "avaliar" boolean DEFAULT false,
    "observacao" "text" DEFAULT 'Nenhuma observa├º├úo'::"text",
    "nome_prestador" "text",
    "nome_cliente" "text",
    "nome_servico" "text",
    "preco_contrato" double precision DEFAULT '0'::double precision,
    "meio_pagamento" "public"."tipo_pagamento" DEFAULT 'dinheiro'::"public"."tipo_pagamento",
    CONSTRAINT "check_usuario" CHECK (("id_cliente" <> "id_prestador"))
);


ALTER TABLE "public"."contratados" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."contratados_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."contratados_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."contratados_id_seq" OWNED BY "public"."contratados"."id";



CREATE TABLE IF NOT EXISTS "public"."conversas" (
    "id" bigint NOT NULL,
    "id_participante1" bigint,
    "id_participante2" bigint,
    "status" "text" DEFAULT 'ativo'::"text",
    "ultima_atualizacao" timestamp with time zone DEFAULT "now"(),
    "criado_em" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."conversas" OWNER TO "postgres";


ALTER TABLE "public"."conversas" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."conversas_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."mensagens" (
    "id" bigint NOT NULL,
    "id_conversa" bigint,
    "id_autor" bigint,
    "conteudo" "text" NOT NULL,
    "data" "date" DEFAULT CURRENT_DATE,
    "hora" time without time zone DEFAULT CURRENT_TIME,
    "lida" boolean DEFAULT false,
    "status" "text" DEFAULT 'enviada'::"text"
);


ALTER TABLE "public"."mensagens" OWNER TO "postgres";


ALTER TABLE "public"."mensagens" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."mensagens_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."servicos" (
    "id" integer NOT NULL,
    "nome" "text" NOT NULL,
    "descricao" "text" NOT NULL,
    "imagem" "text",
    "id_prestador" integer NOT NULL,
    "categoria" integer NOT NULL,
    "codigo" integer NOT NULL,
    "hora_inicio" time without time zone DEFAULT '08:00:00'::time without time zone,
    "hora_fim" time without time zone DEFAULT '18:00:00'::time without time zone,
    "duracao" time without time zone DEFAULT '00:30:00'::time without time zone,
    "criado" timestamp without time zone DEFAULT "now"(),
    "status" boolean DEFAULT true,
    "preco_servico" double precision DEFAULT '20'::double precision,
    "tipo_cobrado" "public"."tipo_cobrado" DEFAULT 'hora'::"public"."tipo_cobrado",
    "nota_geral" real DEFAULT '5'::real,
    "qtd_avaliados" integer DEFAULT 0
);


ALTER TABLE "public"."servicos" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."servicos_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."servicos_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."servicos_id_seq" OWNED BY "public"."servicos"."id";



CREATE TABLE IF NOT EXISTS "public"."usuarios" (
    "id" integer NOT NULL,
    "nome" "text" NOT NULL,
    "email" "text" NOT NULL,
    "senha" "text" NOT NULL,
    "imagem" "text",
    "codigo" integer,
    "codigo_verificacao" integer,
    "email_verificado" boolean DEFAULT false,
    "codigo_criado_em" timestamp with time zone,
    "tipo_usuario" "public"."hierarquia" DEFAULT 'morador'::"public"."hierarquia",
    "cnpj_vinculado" "text",
    "user_date" timestamp with time zone DEFAULT ("now"() AT TIME ZONE 'utc'::"text") NOT NULL
);


ALTER TABLE "public"."usuarios" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."usuarios_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."usuarios_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."usuarios_id_seq" OWNED BY "public"."usuarios"."id";



ALTER TABLE ONLY "public"."avaliacoes" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."avaliacoes_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."avisos" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."avisos_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."categorias" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."categorias_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."condominios" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."condominios_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."contratados" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."contratados_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."servicos" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."servicos_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."usuarios" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."usuarios_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."avaliacoes"
    ADD CONSTRAINT "avaliacao_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."avisos"
    ADD CONSTRAINT "avisos_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."bloqueios"
    ADD CONSTRAINT "bloqueios_id_bloqueador_id_bloqueado_key" UNIQUE ("id_bloqueador", "id_bloqueado");



ALTER TABLE ONLY "public"."bloqueios"
    ADD CONSTRAINT "bloqueios_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."categorias"
    ADD CONSTRAINT "categorias_nome_key" UNIQUE ("nome");



ALTER TABLE ONLY "public"."categorias"
    ADD CONSTRAINT "categorias_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."condominios"
    ADD CONSTRAINT "condominios_cnpj_condominio_key" UNIQUE ("cnpj_condominio");



ALTER TABLE ONLY "public"."condominios"
    ADD CONSTRAINT "condominios_codigo_key" UNIQUE ("codigo");



ALTER TABLE ONLY "public"."condominios"
    ADD CONSTRAINT "condominios_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."contratados"
    ADD CONSTRAINT "contratados_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."conversas"
    ADD CONSTRAINT "conversas_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."mensagens"
    ADD CONSTRAINT "mensagens_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."servicos"
    ADD CONSTRAINT "servicos_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."usuarios"
    ADD CONSTRAINT "usuarios_email_key" UNIQUE ("email");



ALTER TABLE ONLY "public"."usuarios"
    ADD CONSTRAINT "usuarios_pkey" PRIMARY KEY ("id");



CREATE INDEX "idx_avaliacao_contrato" ON "public"."avaliacoes" USING "btree" ("id_contrato");



CREATE INDEX "idx_avisos_codigo" ON "public"."avisos" USING "btree" ("codigo");



CREATE INDEX "idx_avisos_data" ON "public"."avisos" USING "btree" ("data_evento");



CREATE INDEX "idx_contrato_cliente" ON "public"."contratados" USING "btree" ("id_cliente");



CREATE INDEX "idx_contrato_prestador" ON "public"."contratados" USING "btree" ("id_prestador");



CREATE INDEX "idx_contrato_servico" ON "public"."contratados" USING "btree" ("id_servico");



CREATE INDEX "idx_servico_codigo" ON "public"."servicos" USING "btree" ("codigo");



CREATE INDEX "idx_usuario_email" ON "public"."usuarios" USING "btree" ("email");



ALTER TABLE ONLY "public"."avaliacoes"
    ADD CONSTRAINT "avaliacao_id_cliente_fkey" FOREIGN KEY ("id_cliente") REFERENCES "public"."usuarios"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."avaliacoes"
    ADD CONSTRAINT "avaliacao_id_contrato_fkey" FOREIGN KEY ("id_contrato") REFERENCES "public"."contratados"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."avaliacoes"
    ADD CONSTRAINT "avaliacao_id_servico_fkey" FOREIGN KEY ("id_servico") REFERENCES "public"."servicos"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."avisos"
    ADD CONSTRAINT "avisos_codigo_fkey" FOREIGN KEY ("codigo") REFERENCES "public"."condominios"("codigo") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."avisos"
    ADD CONSTRAINT "avisos_id_usuario_fkey" FOREIGN KEY ("id_usuario") REFERENCES "public"."usuarios"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."bloqueios"
    ADD CONSTRAINT "bloqueios_id_bloqueado_fkey" FOREIGN KEY ("id_bloqueado") REFERENCES "public"."usuarios"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."bloqueios"
    ADD CONSTRAINT "bloqueios_id_bloqueador_fkey" FOREIGN KEY ("id_bloqueador") REFERENCES "public"."usuarios"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."contratados"
    ADD CONSTRAINT "contratados_id_cliente_fkey" FOREIGN KEY ("id_cliente") REFERENCES "public"."usuarios"("id") ON UPDATE CASCADE ON DELETE SET NULL;



ALTER TABLE ONLY "public"."contratados"
    ADD CONSTRAINT "contratados_id_prestador_fkey" FOREIGN KEY ("id_prestador") REFERENCES "public"."usuarios"("id") ON UPDATE CASCADE ON DELETE SET NULL;



ALTER TABLE ONLY "public"."contratados"
    ADD CONSTRAINT "contratados_id_servico_fkey" FOREIGN KEY ("id_servico") REFERENCES "public"."servicos"("id") ON UPDATE CASCADE ON DELETE SET NULL;



ALTER TABLE ONLY "public"."conversas"
    ADD CONSTRAINT "conversas_id_participante1_fkey" FOREIGN KEY ("id_participante1") REFERENCES "public"."usuarios"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."conversas"
    ADD CONSTRAINT "conversas_id_participante2_fkey" FOREIGN KEY ("id_participante2") REFERENCES "public"."usuarios"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."mensagens"
    ADD CONSTRAINT "mensagens_id_autor_fkey" FOREIGN KEY ("id_autor") REFERENCES "public"."usuarios"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."mensagens"
    ADD CONSTRAINT "mensagens_id_conversa_fkey" FOREIGN KEY ("id_conversa") REFERENCES "public"."conversas"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."servicos"
    ADD CONSTRAINT "servicos_categoria_fkey" FOREIGN KEY ("categoria") REFERENCES "public"."categorias"("id");



ALTER TABLE ONLY "public"."servicos"
    ADD CONSTRAINT "servicos_codigo_fkey" FOREIGN KEY ("codigo") REFERENCES "public"."condominios"("codigo");



ALTER TABLE ONLY "public"."servicos"
    ADD CONSTRAINT "servicos_id_prestador_fkey" FOREIGN KEY ("id_prestador") REFERENCES "public"."usuarios"("id");



ALTER TABLE ONLY "public"."usuarios"
    ADD CONSTRAINT "usuarios_cnpj_vinculado_fkey" FOREIGN KEY ("cnpj_vinculado") REFERENCES "public"."condominios"("cnpj_condominio") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."usuarios"
    ADD CONSTRAINT "usuarios_codigo_fkey" FOREIGN KEY ("codigo") REFERENCES "public"."condominios"("codigo") ON DELETE SET NULL;



ALTER TABLE "public"."avaliacoes" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."avisos" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."bloqueios" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "bloqueios" ON "public"."bloqueios" TO "anon" USING (true) WITH CHECK (true);



ALTER TABLE "public"."categorias" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "categorias_all" ON "public"."categorias" USING (true) WITH CHECK (true);



ALTER TABLE "public"."condominios" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "condominios_all" ON "public"."condominios" USING (true) WITH CHECK (true);



ALTER TABLE "public"."contratados" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."conversas" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "conversas_politicas" ON "public"."conversas" TO "anon" USING (true) WITH CHECK (true);



ALTER TABLE "public"."mensagens" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "mensagens_poitica" ON "public"."mensagens" TO "anon" USING (true) WITH CHECK (true);



CREATE POLICY "politica_avaliacao" ON "public"."avaliacoes" TO "anon" USING (true) WITH CHECK (true);



CREATE POLICY "politica_aviso" ON "public"."avisos" USING (true) WITH CHECK (true);



CREATE POLICY "politica_contratados" ON "public"."contratados" TO "anon" USING (true) WITH CHECK (true);



ALTER TABLE "public"."servicos" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "servicos_all" ON "public"."servicos" USING (true) WITH CHECK (true);



ALTER TABLE "public"."usuarios" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "usuarios_all" ON "public"."usuarios" USING (true) WITH CHECK (true);





ALTER PUBLICATION "supabase_realtime" OWNER TO "postgres";


REVOKE USAGE ON SCHEMA "public" FROM PUBLIC;
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



GRANT ALL ON TYPE "public"."hierarquia" TO "anon";
GRANT ALL ON TYPE "public"."hierarquia" TO "authenticated";
GRANT ALL ON TYPE "public"."hierarquia" TO "service_role";



GRANT ALL ON TYPE "public"."tipo_categorias" TO "anon";
GRANT ALL ON TYPE "public"."tipo_categorias" TO "authenticated";
GRANT ALL ON TYPE "public"."tipo_categorias" TO "service_role";



GRANT ALL ON TYPE "public"."tipo_status" TO "anon";
GRANT ALL ON TYPE "public"."tipo_status" TO "authenticated";
GRANT ALL ON TYPE "public"."tipo_status" TO "service_role";















GRANT ALL ON TABLE "public"."avaliacoes" TO "anon";
GRANT ALL ON TABLE "public"."avaliacoes" TO "authenticated";
GRANT ALL ON TABLE "public"."avaliacoes" TO "service_role";



GRANT ALL ON SEQUENCE "public"."avaliacoes_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."avaliacoes_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."avaliacoes_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."avisos" TO "anon";
GRANT ALL ON TABLE "public"."avisos" TO "authenticated";
GRANT ALL ON TABLE "public"."avisos" TO "service_role";



GRANT ALL ON SEQUENCE "public"."avisos_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."avisos_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."avisos_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."bloqueios" TO "anon";
GRANT ALL ON TABLE "public"."bloqueios" TO "authenticated";
GRANT ALL ON TABLE "public"."bloqueios" TO "service_role";



GRANT ALL ON SEQUENCE "public"."bloqueios_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."bloqueios_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."bloqueios_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."categorias" TO "anon";
GRANT ALL ON TABLE "public"."categorias" TO "authenticated";
GRANT ALL ON TABLE "public"."categorias" TO "service_role";



GRANT ALL ON SEQUENCE "public"."categorias_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."categorias_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."categorias_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."condominios" TO "anon";
GRANT ALL ON TABLE "public"."condominios" TO "authenticated";
GRANT ALL ON TABLE "public"."condominios" TO "service_role";



GRANT ALL ON SEQUENCE "public"."condominios_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."condominios_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."condominios_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."contratados" TO "anon";
GRANT ALL ON TABLE "public"."contratados" TO "authenticated";
GRANT ALL ON TABLE "public"."contratados" TO "service_role";



GRANT ALL ON SEQUENCE "public"."contratados_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."contratados_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."contratados_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."conversas" TO "anon";
GRANT ALL ON TABLE "public"."conversas" TO "authenticated";
GRANT ALL ON TABLE "public"."conversas" TO "service_role";



GRANT ALL ON SEQUENCE "public"."conversas_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."conversas_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."conversas_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."mensagens" TO "anon";
GRANT ALL ON TABLE "public"."mensagens" TO "authenticated";
GRANT ALL ON TABLE "public"."mensagens" TO "service_role";



GRANT ALL ON SEQUENCE "public"."mensagens_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."mensagens_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."mensagens_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."servicos" TO "anon";
GRANT ALL ON TABLE "public"."servicos" TO "authenticated";
GRANT ALL ON TABLE "public"."servicos" TO "service_role";



GRANT ALL ON SEQUENCE "public"."servicos_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."servicos_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."servicos_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."usuarios" TO "anon";
GRANT ALL ON TABLE "public"."usuarios" TO "authenticated";
GRANT ALL ON TABLE "public"."usuarios" TO "service_role";



GRANT ALL ON SEQUENCE "public"."usuarios_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."usuarios_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."usuarios_id_seq" TO "service_role";









ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";




